%button {
    display: block;
    padding: 0.8rem 1rem;
    line-height: 1;
    border: 0;
    border-radius: 0.5rem;
    background: color('main');
    color: color('main', 'inverse');
    width: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 2px 2px color('shadow');

    &:hover {
        background: color('main', 'alt');
    }

    &:disabled{
        border: 1px solid;
        background-color: color('disabled');
        color: color('disabled','inverse');
        box-shadow: 0px 0px;
    }

}

button,
.button {
    @extend %button;
}