.saint-chooser {
    position: relative;

    h1 {
        padding-right: 5rem;
    }

    .add.action {
        position: fixed;
        left: 45%;
        bottom: 33px;
    }

    .selectAll{
        display: block;
        color:color(main);
        text-align: end;
    }
}